@import "../../variables";

.authorization-main{
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.authorization-container{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 15px;
  padding:30px 10px;
  background-color: $fb-backgroundColor;
}

.authorization-form{

}

.full-width{
  width: 100%;
}
