<div class="authorization-main">
  <div class="authorization-container">
    <h1>{{headerTitle}}</h1>
    <form class="authorization-form" (submit)="onSubmit($event)">
      <app-auth-input [(ngModel)]="email" name="email" [type]="'email'" #validations="ngModel"></app-auth-input>
      <app-auth-input [(ngModel)]="password" name="password" [type]="password" #validations="ngModel"></app-auth-input>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
  </div>
</div>
