<<<<<<< HEAD:src/app/core/navbar/navbar.component.scss
@import './src/variables';

#navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span,
.nav-icon {
  color: $fb-linkColor;
  transition: 0.3s;
}
.nav-icon:hover {
  color: $fb-activeLinkColor;
}
=======
@import "../../../variables.scss";

#navbar{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span,.nav-icon{
  color:$fb-linkColor;
  transition: 0.3s;
}
.nav-icon:hover{
  color:$fb-activeLinkColor;;
}
>>>>>>> 2b441f217a0e0a74d8e2419cdcbeb50a1bcfd267:navbar.component.scss
