<<<<<<< HEAD:src/variables.scss
$fb-dark: #0b0c10;
$fb-backgroundColor: #1f2833;
$fb-activeLinkColor: #66fcf1;
$fb-textColor: #c5c6c7;
$fb-linkColor: #45a29e;

$fb-p-fontSize: 1rem;
$fb-h1-fontSize: 4rem;
=======
$fb-dark:#0B0C10;
$fb-backgroundColor:#1F2833;
$fb-activeLinkColor:#66FCF1;
$fb-textColor:#C5C6C7;
$fb-linkColor:#45A29E;

$fb-p-fontSize:1rem;
$fb-h1-fontSize:4rem;

>>>>>>> 2b441f217a0e0a74d8e2419cdcbeb50a1bcfd267:variables.scss
