@import './src/variables';

.drag-item-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: $fb-full-height;
  margin: $fb-null-offset;
}

.drag-item {
  color: $fb-textColor;
  border: 1px solid $fb-textColor;
  padding: $fb-item-padding;
  border-radius: $fb-container-offset;
}

.drag-item:hover {
  cursor: pointer;
  background-color: $fb-textColor;
  color: $fb-dark;
}
