@import './src/variables';

.main-container {
  width: $fb-container-width;
  margin: $fb-container-margin auto;
}

.drag-drop-section {
  display: flex;
  justify-content: space-between;
  margin-top: $fb-container-offset;
  height: $fb-dragdrop-height;
}

.drag-section {
  width: 150px;
  height: $fb-full-height;
  border: 1px solid $fb-textColor;
  border-radius: 15px 0 0 15px;
  padding: $fb-container-offset;
  box-sizing: border-box;
}

.drop-section {
  height: $fb-full-height;
  width: $fb-container-width;
  box-sizing: border-box;
  position: relative;
  background-color: $fb-backgroundColor;
  overflow-y: auto;
}


.example-list {
  height: $fb-full-height;
}



