<cdk-accordion [id]="accordionData.isFormStylingActive ? 'form-accordion':'field-accordion'" class="accordion">
  <cdk-accordion-item
    #accordionItem="cdkAccordionItem"
    class="accordion-item"
    role="button"
    tabindex="0"
    [attr.id]="'accordion-header'"
    [attr.aria-controls]="'accordion-body'"
    [attr.aria-expanded]="accordionData.isAccordionExpanded">
    <div class="accordion-item-header">
      {{ accordionData.isFormStylingActive ? "Form Styles" : "Field Styles" }}
      <button id="expandButton" class="accordion-item-description" (click)="toggleExpander()">{{ accordionItem.expanded ? '-' : '+' }}</button>
    </div>
    <div
      class="accordion-item-body"
      role="region"
      [style.display]="accordionData.isAccordionExpanded ? '' : 'none'"
      [attr.id]="'accordion-body'"
      [attr.aria-labelledby]="'accordion-header'">
      <ng-template [cdkPortalOutlet]="accordionPortal"></ng-template>
    </div>
  </cdk-accordion-item>
</cdk-accordion>

<ng-template #accordionPortalContent>
  <div *ngIf="accordionData.isFormStylingActive;else fieldStyling">
    <app-dynamic-form [fields]="accordionData.formStyling" [isStyleInput]=true [isFormActive]="true"></app-dynamic-form>
  </div>
  <ng-template #fieldStyling>
    <app-dynamic-form [fields]="dropElements.items[dropElements.selectedIndex].styles" [isStyleInput]=true [isFormActive]="false" [items]="dropElements.items" [selectedIndex]="dropElements.selectedIndex ? dropElements.selectedIndex:'0'"></app-dynamic-form>
  </ng-template>
</ng-template>
