<cdk-accordion class="accordion">
  <cdk-accordion-item
    #accordionItem="cdkAccordionItem"
    class="accordion-item"
    role="button"
    tabindex="0"
    [attr.id]="'accordion-header'"
    [attr.aria-controls]="'accordion-body'"
    [attr.aria-expanded]="accordionItem.expanded">
    <div class="accordion-item-header">
      {{ accordionData.isFormStylingActive ? "Form Styles" : "Field Styles" }}
      <button class="accordion-item-description" (click)="toggleExpander()">{{ accordionItem.expanded ? '-' : '+' }}</button>
    </div>
    <div
      class="accordion-item-body"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body'"
      [attr.aria-labelledby]="'accordion-header'">
      <ng-template [cdkPortalOutlet]="accordionPortal"></ng-template>
    </div>
  </cdk-accordion-item>
</cdk-accordion>

<ng-template #accordionPortalContent>
  <div class="accordion-container">
    <div *ngIf="accordionData.isFormStylingActive; else filedStyling">
      <div *ngFor="let item of accordionData.formStyling|keyvalue">
        <app-style-item
          #formStyleItems
          [isFormActive]="accordionData.isFormStylingActive"
          [key]="item.key"
          [inputType]="getInputType(item.key)"
          [value]="item.value"
          (formChanged) = "changeForm($event)"
        ></app-style-item>
      </div>
    </div>
  </div>
  <ng-template #filedStyling>
    <div>
      <div *ngFor="let item of dropElements.items[selectedIndex].styles | keyvalue">
        <app-style-item
          #fieldStyleItems
          [key]="item.key"
          [inputType]="getInputType(item.key)"
          [value]="item.value"
          (formChanged) = "changeField($event,dropElements.items)"
        ></app-style-item>
      </div>
    </div>
  </ng-template>
</ng-template>
