<div [formGroup]="group" [class]="isStyleInput ? 'style-item':''">

  <p *ngIf="isStyleInput">{{ field.label }}</p>

  <mat-form-field
    class="demo-full-width"
    [style]="styles|stylePipe:['width','fontSize','fontWeight','borderStyle']:isFormActive:isStyleInput"
  >
    <input
      matInput
      [name]="field.name!"
      [type]="field.inputType!"
      [placeholder]="styles|stylePipe:['placeholder']:isFormActive:isStyleInput:''"
      [required]="styles|stylePipe:['required']:isFormActive:isStyleInput:false"
      [style]="styles|stylePipe:['color','height']:isFormActive:isStyleInput"
      [id]="isFormActive ? field.id : 'field-'+field.type"
      [value]="!isStyleInput ? '' : field.value"
      (change)="changeForm($event)"
      (click)="selectField()"
    >
  </mat-form-field>

</div>
