<mat-form-field
  class="example-full-width"
  appearance="fill"
  [formGroup]="group"
  [style]="styles|stylePipe:['width','fontSize','fontWeight','borderStyle']:false:isStyleInput"
>

  <mat-label>{{styles|stylePipe:['placeholder']:false:isStyleInput:field.label}}</mat-label>

  <textarea
    matInput
    [formControlName]="field.name!"
    [id]="field.id"
    [required]="styles|stylePipe:['required']:false:isStyleInput:false"
    [style]="styles|stylePipe:['color','height']:false:isStyleInput"
    (click)="selectField()"
  >{{field.value}}</textarea>

</mat-form-field>
