@import "./src/variables";

#navbar{
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span,.nav-icon{
  color:$fb-linkColor;
  transition: 0.3s;
}
.nav-icon:hover{
  color:$fb-activeLinkColor;;
}
