h1{
  text-align: center;
}

.main-container{
  width: 90%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.drag-drop-section{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.drag-section{
  width: 35%;
  height: 400px;
  background-color: rgba(255,215,64,0.8);
  border: 1px solid rgb(217,217,217);
  border-radius: 25px;
  box-sizing: border-box;
  padding: 20px;
}

.drop-section{
  height: 600px;
  width: 60%;
  border-radius: 25px;
  box-sizing: border-box;
  position: relative;
}

.draggable-element:hover{
  cursor: pointer;
}


.draggable-element-content{
  width:100px;
  height:50px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 3px;
  box-sizing: border-box;
}

.example-list{
  height: 100%;
}

.draggable-input{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: #F0F0F0;
  margin: 0 0 10px 0;
  font-size: 1rem;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

.dropped-item{
  position: absolute;
}
