<!--Main container for forms-builder-->
<div [class.main-container]=true>
  <h1>Forms Builder</h1>
<!-- Accordion Component -->
  <app-forms-builder-accordion
    #accordion
    class="accordion"
    [accordionPortal]="accordionPortal"
    [accordionData]="accordionState | async"
    [dropElements]="dropAreaState|async"
    [selectedIndex]="selectedIndex"
    [cdkPortalOutlet]="cdkPortalOutlet"
    [getInputType]="getInputType"
    (accordionExpanded) = toggleExpander()
    (formChanged)="onChangeDropArea($event)"
    (fieldChanged)="onChangeField($event)"
  ></app-forms-builder-accordion>

  <div class="drag-drop-section">
    <app-forms-builder-drop-area
      [dropAreaPortal]="dropAreaPortal"
      [dropElements] = "dropAreaState | async"
      [accordionData]="accordionState | async"
      class="drop-section"
      (itemDropped)="drop($event)"
      (fieldSelected)="selectField($event)"
      (mouseenter)="isDragging ? isDragItemEnter=true : isDragItemEnter=false"
      (mouseleave)="isDragItemEnter=false"
    ></app-forms-builder-drop-area>
<!--  Drag Area Component  -->
    <app-forms-builder-drag-area
      [dragAreaPortal]="dragAreaPortal"
      (dragStarted)="isDragging=true"
      (itemDropped)="drop($event)"
      class="drag-section"
    ></app-forms-builder-drag-area>
  </div>
</div>


