<!--Main container for forms-builder-->
<div [class.main-container]=true>
  <h1>Forms Builder</h1>
<!-- Accordion Component -->
  <app-forms-builder-accordion
    *ngrxLet="accordionState$ as accordionData"
    class="accordion"
    [accordionData]="accordionData"
    [dropElements]="dropAreaState$|ngrxPush"
    [selectedIndex]="selectedIndex"
    (accordionExpanded) = toggleExpander()
    (formChanged)="onChangeDropArea($event)"
    (fieldChanged)="onChangeField($event)"
  ></app-forms-builder-accordion>

  <div class="drag-drop-section">
    <!-- Drop Area Component -->
    <app-forms-builder-drop-area
      class="drop-section"
      *ngrxLet="accordionState$ as accordionData"
      [accordionData]="accordionData"
      [dropElements]="dropAreaState$|ngrxPush"
      (itemDropped)="drop($event)"
      (fieldSelected)="selectField($event)"
      (mouseenter)="isDragging ? isDragItemEnter=true : isDragItemEnter=false"
      (mouseleave)="isDragItemEnter=false"
    ></app-forms-builder-drop-area>
<!--  Drag Area Component  -->
    <app-forms-builder-drag-area
      (dragStarted)="isDragging=true"
      (itemDropped)="drop($event)"
      class="drag-section"
    ></app-forms-builder-drag-area>

  </div>
</div>


