h1{
  text-align: center;
}
.accordion-container{
  overflow-x: auto;
  display: grid;
  grid-column-gap: 50px;
  scroll-snap-type: x proximity;
  grid-template-rows: minmax(100px, 1fr);
}
.accordion .ng-star-inserted{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.style-item{
  margin: 0;
  position: relative;
  padding: 10px;
  scroll-snap-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease;
}


.main-container{
  width: 90%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.drag-drop-section{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.drag-section{
  width: 35%;
  height: 400px;
  background-color: rgba(255,215,64,0.8);
  border: 1px solid rgb(217,217,217);
  border-radius: 25px;
  box-sizing: border-box;
  padding: 20px;
}

.drop-section{
  height: 600px;
  width: 60%;
  background: transparent;
  border: 1px solid rgb(217,217,217);
  border-radius: 25px;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
}

.draggable-element:hover{
  cursor: pointer;
}

.drag-item-list{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
  margin: 0;
}

.draggable-element-content{
  width:100px;
  height:50px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 3px;
  box-sizing: border-box;
}

.example-list{
  height: 100%;
}

.draggable-input{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: #F0F0F0;
  margin: 0 0 10px 0;
  font-size: 1rem;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

.dropped-item{
  position: absolute;
}

#backgroundText{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  text-align: center;
  z-index: 1;
  opacity: 0.2;
  font-size: 5rem;
}
