$fb-dark: #0b0c10;
$fb-backgroundColor: #1f2833;
$fb-activeLinkColor: #66fcf1;
$fb-textColor: #c5c6c7;
$fb-linkColor: #45a29e;

$fb-p-fontSize: 1rem;
$fb-h1-fontSize: 5em;

$fb-container-width: 90%;
$fb-full-height: 100%;
$fb-full-width: 100%;
$fb-dragdrop-height: 600px;


$fb-container-offset: 20px;
$fb-container-margin: 50px;
$fb-null-offset: 0;
$fb-item-padding: 10px;

$fb-accordion-border-radius: 4px;

$scrollbar-border-radius: 10px;
