<div class="dropped-item" [style]="{top:element.y+'px',left:element.x+'px'}" *ngIf="element.id==='drag-input'">
  <mat-form-field
    id="drag-input"
    #dragInput
    class="example-full-width"
    [style]="{
          width:element.styles[0].value+'px',
          height:element.styles[1].value+'px',
          fontSize:element.styles[4].value+'px',
          fontWeight:element.styles[5].value,
          borderStyle:element.styles[6].value
          }"
    appearance="fill"
    cdkDrag
  >
    <mat-label>{{!element.styles[3].value ? "Type some text" : element.styles[3].value}}</mat-label>
    <input [style]="{
          color:element.styles[7].value
          }" [required]="element.styles[2].checked" [id]="'dropItem'+index" class="customiseBtn"  matInput (click)="selectField()">
  </mat-form-field>
</div>
<div class="dropped-item"  *ngIf="element.id==='drag-textarea'" [style]="{top:element.y+'px',left:element.x+'px'}">
  <mat-form-field
    [style]="{
          width:element.styles[0].value+'px',
          height:element.styles[1].value+'px',
          fontSize:element.styles[4].value+'px',
          fontWeight:element.styles[5].value,
          borderStyle:element.styles[6].value
          }"
    id="drag-text" #dragTextarea class="example-full-width" appearance="fill" cdkDrag >
          <textarea class="customiseBtn" [id]="'dropItem'+index"matInput [placeholder]="!element.styles[3].value ? 'Type some text' : element.styles[3].value" (click)="selectField()" [style]="{
          color:element.styles[7].value
          }" [required]="element.styles[2].checked" ></textarea>
  </mat-form-field>
</div>
<div class="dropped-item" class="customiseBtn"  *ngIf="element.id==='drag-button'" [style]="{top:element.y+'px',left:element.x+'px'}">
  <button
    [style]="{
          width:element.styles[0].value+'px',
          height:element.styles[1].value+'px',
          fontSize:element.styles[4].value+'px',
          fontWeight:element.styles[5].value,
          borderStyle:element.styles[6].value,
          color:element.styles[7].value
          }"
    [id]="'dropItem'+index" class="customiseBtn" #dragButton mat-button cdkDrag (click)="selectField()">{{!element.styles[3].value ? "Button" : element.styles[3].value}}</button>
</div>
<div class="dropped-item"  *ngIf="element.id==='drag-checkbox'" [style]="{top:element.y+'px',left:element.x+'px'}">
  <mat-checkbox
    [style]="{
          width:element.styles[0].value+'px',
          height:element.styles[1].value+'px',
          fontSize:element.styles[4].value+'px',
          fontWeight:element.styles[5].value,
          borderStyle:element.styles[6].value,
          color:element.styles[7].value
          }"
    [required]="element.styles[2].checked"
    [id]="'dropItem'+index" id="drag-check" #dragCheck class="example-margin customiseBtn" cdkDrag (click)="selectField()">{{!element.styles[3].value ? "Check something" : element.styles[3].value}}</mat-checkbox>
</div>
<div class="dropped-item"  *ngIf="element.id==='drag-select'" [style]="{top:element.y+'px',left:element.x+'px'}">
  <mat-form-field id="drag-select" class="customiseBtn" #dragSelect appearance="fill" cdkDrag (click)="selectField()" [style]="{
                        width:element.styles[0].value+'px',
          height:element.styles[1].value+'px',
          fontSize:element.styles[4].value+'px',
          fontWeight:element.styles[5].value,
          borderStyle:element.styles[6].value
        }">
    <mat-label [style]="{color:element.styles[2].checked}">Select</mat-label>
    <mat-select
      [required]="element.styles[2].checked"
      [id]="'dropItem'+index">
      <mat-option [style]="{color:element.styles[7].value}">
        {{element.styles[3].value}}
      </mat-option>
    </mat-select>

  </mat-form-field>
</div>
